<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Product <%= title %></h1>
    <form action="/mongoose/finishProductUpdate" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="text" name="title" />
        <input type="number" name="price" />
        <input type="hidden" name="id" value="<%= id %>" />
        <input type="submit" name="submit" />
    </form>
</body>
</html>