<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/mongoose/postImage" enctype="multipart/form-data" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="file" name="image">
        <input type="submit" name="upload"/>
    </form>
</body>
</html>