<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("./nav.ejs")%>
    <H1>this is cart</H1>
    <% for (const a of products) { %>
        <div class="div_main">
            <h1> <%= a.title %> </h1>
            <h1><%= a.cartItem.quantatiy %></h1>
            <form action="" method="GET">
                <button type="submit" name="edit" value="">Delete</button>
            </form>
        </div>
        <% } %>
</body>
</html>