<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/secod.css">
</head>
<body>
    <div class="nav_div">
<a href="/Sequelize/main">Shop</a>
<a href="/Sequelize/products">Products</a>
<a href="/">Cart</a>
<a href="/">Orders</a>
<a href="/Sequelize/addProduct">Add Products</a>
<a href="/">Admin Products</a>
    </div>
</body>
</html>